*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
release.properties
src/main/java/com/hxd/study/base/
src/main/java/com/hxd/study/bean/
src/main/java/com/hxd/study/http/
